# ═══════════════════════════════════════════════════════════════════
# SiDaun Backend - Environment Variables
# Salin file ini menjadi .env lalu isi dengan kredensial Anda
# ═══════════════════════════════════════════════════════════════════

# ─── MongoDB ─────────────────────────────────────────────────────
# URI koneksi MongoDB Atlas
# Contoh: mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/sidaun?retryWrites=true&w=majority
mongodb+srv://sanupaii:4wqUAIQQNjOaNUuq@cluster0.wixvzon.mongodb.net/?appName=Cluster0

# ─── Cloudinary ──────────────────────────────────────────────────
# Dapatkan dari Cloudinary Dashboard > Settings > API Keys
CLOUDINARY_CLOUD_NAME=dgywldsms
CLOUDINARY_API_KEY=752448432197119
CLOUDINARY_API_SECRET=xKUPKxQDBHGnTee5mM3L15BgwC4
# ─── Server ──────────────────────────────────────────────────────
PORT=5000

# ─── Frontend URL (untuk CORS) ───────────────────────────────────
# Sesuaikan dengan URL frontend Anda
FRONTEND_URL=http://localhost:5173
